body {
	padding-top: 60px;
	padding-bottom: 40px;
}

/* Page view */

#pageContainer {
	text-align: center;
}

#pageContainer > * {
	display: inline-block;
	vertical-align: middle;
}

article.page {
	position: relative;
	border: 10px solid white;
	background-color: white;
	-moz-box-shadow:0 0 5px #888888;
  	-webkit-box-shadow:0 0 5px #888888;
}

/* Edit view */

.btn-toolbar {
	margin: 0; /* Overwrite bootstrap */
}

/* CSS-only triangles */

.arrow {
	border-style: solid;
	border-color: transparent #bbb transparent;
	height: 0;
	width: 0;
	margin: 10px;
}

.arrow.disabled, .arrow.disabled:hover {
	border-color: transparent #eee transparent;
}

.arrow.right {
	border-width: 25px 0 25px 50px;
}

.arrow.left {
	border-width: 25px 50px 25px 0;
}

.arrow:hover {
	border-color: transparent #ddd transparent;
}

/* 
CSS-only loader animation 
Reused from Antti's previous project.
*/

#loader{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -34.5px;
}
.circle{
	background-color:#CCC;
	float:left;
	height:15px;
	margin-left:8px;
	width:15px;
	-webkit-animation-name: bounce_circle;
	-webkit-border-radius:10px;
 	-webkit-animation-duration: 1.5s;
 	-webkit-animation-iteration-count: infinite;
 	-webkit-animation-direction: linear;
	opacity:0.3;
}
#circle_1{
 	-webkit-animation-delay: .3s;
 }
#circle_2{
 	-webkit-animation-delay: .7s;
}
#circle_3{
 	-webkit-animation-delay: .9s;
}
@-webkit-keyframes bounce_circle{
	0%{opacity:0.3;}
	50%{opacity:1;background-color:#111}
	100%{opacity:0.3;}
}

/* Page edit / view */

#page-numbering{
	color:grey;
	margin: 5px;
	display: block;
}

#hover-delete-button{
	position:absolute;
	right: 5px;
	top: 5px; 
}

.caption #hover-delete-button{
	right: -40px;
}

#page{
	overflow: hidden;
}

#page img{
	position: absolute;
	left:0;
	top:0;
}

/* Captions */

.caption {
	position: absolute !important;
	text-shadow: 1px 1px 5px #fff;
}

.style-1 {
	font-size: 36px;
	line-height: 40px;
}

.style-2 {
	font-size: 26px;
	line-height: 28px;
}

.style-3 {
	font-size: 20px;
	line-height: 22px;
}

/* Album list */

.thumbnail .details {
	padding: 9px;
}