{% extends 'base.html' %}

{% block header %}
<!-- Album editor header -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/ui-lightness/jquery-ui.css" type="text/css" />
<script src="{{ STATIC_URL }}js/ajax_csrf.js"></script>
<script src="{{ STATIC_URL }}js/common.js"></script>
<script src="{{ STATIC_URL }}js/edit.js"></script>

<script type="text/javascript">
var album = {{ album.id }};
var page = 1;
var pages = {{ page_list|length }};
</script>

{% endblock %}

{% block body %}

<div class="page-header">

<div class="pull-right">
<a id="addImage" data-toggle="modal" href="#addImageModal" class="btn">Add image</a>
<a id="addText" href="#" class="btn">Add text</a>

<a id="savePage" href="#" class="btn btn-success" style="margin-left:20px">Save page</a>
<a id="deletePage" href="delete" class="btn btn-danger">Delete page</a>

<a id="addPage" href="#" class="btn btn-primary" style="margin-left:20px">Add page</a>
</div>

<h1><span class="label label-important" style="vertical-align: 0.5em;">Edit</span> {{ album.name }}</h1>
</div>

<div class="btn-group" style="padding-bottom: 10px">
	
</div>

<div id="pageContainer">
	<a href="#" id="previous" class="arrow left"></a>
	
	<div id="pages" style="position: relative;">
		<article id="page" class="page" style="height: {{ album.height }}px; width: {{ album.width }}px;"></article>
		<div id='loader'>
			<div id='circle_1' class='circle'></div>
			<div id='circle_2' class='circle'></div>
			<div id='circle_3' class='circle'></div>
		</div>
	</div>
	
	<a href="#" id="next" class="arrow right"></a>
</div>

<div class="modal fade" id="addImageModal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Add image</h3>
  </div>
  <div class="modal-body">
    <p>Insert URL:</p>
    <input id="newImageUrl" type="text" value="http://farm8.staticflickr.com/7186/6885794027_d207103cc5.jpg" />
  </div>
  <div class="modal-footer">
    <a href="#" id="addImageModalBtn" class="btn btn-primary" data-dismiss="modal">Add image</a>
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
  </div>
</div>

{% endblock %}
