{% extends 'base.html' %}

{% block header %}
<!-- Header -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/ajax_csrf.js"></script>
<script src="{{ STATIC_URL }}js/common.js"></script>

<script type="text/javascript">

var album = {{ album.id }};
var page = 1;
var pages = {{ page_list|length }};
var pageChangeCallback = function(){};

$(function() {
	loadPage(album,page);
});
</script>

{% endblock %}

{% block body %}

<div class="page-header">
{% if is_owner %} 
<div class="pull-right">
<a href="edit" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Edit</a>
<a href="delete" class="btn btn-danger"><i class="icon-trash icon-white"></i> Delete</a>
</div>
{% endif %}
<h1>{{ album.name }}</h1>
</div>

<div id="pageContainer">

<a href="#" id="previous" class="arrow left"></a>

<div id="pages" style="position: relative;">
	<article id="page" class="page" style="height: {{ album.height }}px; width: {{ album.width }}px;"></article>
	<div id='loader'>
		<div id='circle_1' class='circle'></div>
		<div id='circle_2' class='circle'></div>
		<div id='circle_3' class='circle'></div>
	</div>
</div>

<a href="#" id="next" class="arrow right"></a>

</div>

<!--
{% for page in page_list %}
    <div>
    	<a href="{{ page.get_absolute_url }}"> {{ page.number }} </a>
    </div>
{% empty %}
    No pages added.
{% endfor %}
-->
{% endblock %}
