{% extends 'base.html' %}

{% block header %}
<!-- Header -->
{% endblock %}

{% block nav_list %}<li id="menuList" class="active"><a href="{% url photobook:album_list_view %}">All albums</a></li>{% endblock %}
 
{% block body %}

<div class="page-header">
<a href="{% url photobook:create_album_view %}" class="btn btn-primary pull-right">New album</a>
<h1>All albums</h1>
</div>

<ul class="thumbnails">
{% for album in album_list %}
<li class="span3">
<a href="{{ album.get_absolute_url }}" class="thumbnail"> 
<img src="http://placehold.it/260x180" alt="">
<div class="caption">
  <h5>{{ album.name }} <br> Created: {{album.pub_date}} </h5> 
</div>
</a>       
</li>
          
{% empty %}
    No albums published.
{% endfor %}

{% endblock %}

</ul>
