{% extends 'base.html' %}

{% block header %}
<!-- Header -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript">

/* Adding this to a javascript file that is included on your site will 
 * ensure that AJAX POST requests that are made via jQuery will not be caught by the CSRF protection.*/

$(document).ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function sameOrigin(url) {
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    function safeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
});


//json add positions test
$(function() {
	$("#page_test").click(function () {
		$.ajax({
		   	url: '/album/1/67/json/',
		    type: 'POST',
		    contentType: 'application/json; charset=utf-8',
		    success: function(result) {
		        alert("page added");
		    }
		});
	});
	 $("#position_test").click(function () {
		 var page = 
{
        "album_id": 1,
        "page_number": 67,
        "positions": [
	    	{
	       		"image": "http://www.konalaejapanesespitz.com/8W-9.JPG",
	       		"x": "32",
	       		"y": "31",
	       		"z": "1",
	       		"h": "101",
	       		"w": "102"
	       	},
	    	{
	       		"image": "http://images04.olx.ae/ui/11/82/73/1300864362_180207973_1-Pictures-of--japanese-spitz-puppy-for-sale.jpg",
	       		"x": "120",
	       		"y": "120",
	       		"z": "1",
	       		"h": "200",
	       		"w": "202"
	       	},
	    	{
	       		"caption": {
	       			"content": "Cute puppies <3",
	       			"font": 1 /* font_id */ 
	       		},
	       		"x": "2",
	       		"y": "200",
	       		"z": "1",
	       		"h": "101",
	       		"w": "102"
	    	}
	    ],
};
		$.ajax({
		   	url: '{% url photobook:add_positions %}',
		    type: 'POST',
		    contentType: 'application/json; charset=utf-8',
		    data: JSON.stringify(page),
		    dataType: 'text',
		    success: function(result) {
		        alert("positions added");
		    }
		});
	});
    $("#delete_button").click(function () {
        var r=confirm("Are you sure you wish to delete the album?");
        if (r==true)
        {
           window.location.replace("./delete");
        }
    });
});
</script>


{% endblock %}

{% block body %}

<div class="page-header">
<h1>{{ album.name }}</h1>
</div>

<div>
	Height: {{ album.height }}
</div>
<div>
	Width: {{ album.width }}
</div>

{% for page in page_list %}
    <div>
    	<a href="{{ page.get_absolute_url }}"> {{ page.number }} </a>
    </div>
{% empty %}
    No pages added.
{% endfor %}

<button id="position_test"> position test</button>
<button id="page_test"> page test</button>

{% if is_owner %} <button id="delete_button"> Delete Album</button>  {% endif %}

{% endblock %}
