{% extends 'base.html' %}

{% block header %}
<!-- Header -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<script src="{{ STATIC_URL }}js/ajax_csrf.js"></script>
<script src="{{ STATIC_URL }}js/common.js"></script>

<script type="text/javascript">

var album = {{ album.id }};
var page = 1;
var pages = 2; /*{{ page_list|length }}*/

$(function() {
	loadPage(album,page,function(){
		$("#page img").draggable();
	});
	
	/* Old stuff below */

	//json add positions test
	$("#page_test").click(function () {
		$.ajax({
		   	url: '/album/1/1/json/',
		    type: 'POST',
		    contentType: 'application/json; charset=utf-8',
		    success: function(result) {
		        alert("page added");
		    }
		});
	});
	 $("#position_test").click(function () {
		 var page = 
		{
        "album_id": 1,
        "page_number": 1,
        "positions": [
	    	{
	       		"image": "http://www.konalaejapanesespitz.com/8W-9.JPG",
	       		"x": "32",
	       		"y": "31",
	       		"z": "1",
	       		"h": "101",
	       		"w": "102"
	       	},
	    	{
	       		"image": "http://images04.olx.ae/ui/11/82/73/1300864362_180207973_1-Pictures-of--japanese-spitz-puppy-for-sale.jpg",
	       		"x": "120",
	       		"y": "120",
	       		"z": "1",
	       		"h": "200",
	       		"w": "202"
	       	},
	    	{
	       		"caption": {
	       			"content": "Cute puppies <3",
	       			"font": 1 /* font_id */ 
	       		},
	       		"x": "2",
	       		"y": "200",
	       		"z": "1",
	       		"h": "101",
	       		"w": "102"
	    	}
	    ],
		};
		$.ajax({
		   	url: '{% url photobook:add_positions %}',
		    type: 'POST',
		    contentType: 'application/json; charset=utf-8',
		    data: JSON.stringify(page),
		    dataType: 'text',
		    success: function(result) {
		        alert("positions added");
		    }
		});
	});

});
</script>


{% endblock %}

{% block body %}

<div class="page-header">
{% if is_owner %} 
<div class="pull-right">
<a href="#" class="btn btn-primary">Edit Album</a>
<a href="delete" class="btn btn-danger">Delete Album</a>
</div>
{% endif %}
<h1><span class="label label-important" style="vertical-align: 0.5em;">Edit</span> {{ album.name }}</h1>
</div>

<div id="pageContainer">

<a href="#" id="previous" class="arrow left"></a>

<div id="pages" style="position: relative;">
	<article id="page" class="page" style="height: {{ album.height }}px; width: {{ album.width }}px;"></article>
	<div id='loader'>
		<div id='circle_1' class='circle'></div>
		<div id='circle_2' class='circle'></div>
		<div id='circle_3' class='circle'></div>
	</div>
</div>

<a href="#" id="next" class="arrow right"></a>

</div>


<button id="position_test"> position test</button>
<button id="page_test"> page test</button>

{% endblock %}
