{% extends 'base.html' %}

{% block header %}
<!-- Header -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/ajax_csrf.js"></script>

<script type="text/javascript">
$(function() {
	
	function loadPage(page){
		console.log("Loading page"+page);
		
		$("#loader").show();
		$("#page").empty();
		
		$.getJSON(page+"/json", function(data,status){
			console.log(data,status);
			
			if(data && data.page && data.page.positions){
				for(var i=0; i<data.page.positions.length; i++){
					var position = data.page.positions[i];
					//console.log(position);
					
					if(position.image){
						$("<img />")
							.attr("src",position.image.url)
							.css({
								"position":"absolute", 
								"left": position.x+"px",
								"top": position.y+"px",
								"height": position.h+"px",
								"width": position.w+"px"
								})
							.appendTo("#page");
					} else if (position.caption) {
						$("<div>"+position.caption.content+"</div>")
							.css({
								"position":"absolute", 
								"left": position.x+"px",
								"top": position.y+"px",
								"height": position.h+"px",
								"width": position.w+"px"
								})
							.appendTo("#page");
					}
				}		
			}
			
			$("#loader").hide();
		});
	}
	
	var page = 1;
	var pages = {{ page_list|length }};
	loadPage(page);
	
	$("#next").click(function(){
		console.log("Next page");
		if(page+1<=pages){
			page++;
			loadPage(page);
		}
	});
	
	$("#previous").click(function(){
		console.log("Previous page");
		if(page-1>0){
			page--;
			loadPage(page);
		}
	});

});
</script>


{% endblock %}

{% block body %}

<div class="page-header">
{% if is_owner %} 
<div class="pull-right">
<a href="edit" class="btn btn-primary"><i class="icon-edit icon-white"></i> Edit Album</a>
<a href="delete" class="btn btn-danger"><i class="icon-trash icon-white"></i> Delete Album</a>
</div>
{% endif %}
<h1>{{ album.name }}</h1>
</div>

<div id="pageContainer">

<a href="#" id="previous" class="arrow left"></a>

<div id="pages" style="position: relative;">
	<article id="page" class="page" style="height: {{ album.height }}px; width: {{ album.width }}px;"></article>
	<div id='loader'>
		<div id='circle_1' class='circle'></div>
		<div id='circle_2' class='circle'></div>
		<div id='circle_3' class='circle'></div>
	</div>
</div>

<a href="#" id="next" class="arrow right"></a>

</div>

<!--
{% for page in page_list %}
    <div>
    	<a href="{{ page.get_absolute_url }}"> {{ page.number }} </a>
    </div>
{% empty %}
    No pages added.
{% endfor %}
-->
{% endblock %}
