{% extends 'base.html' %}

{% block header %}
<!-- Header -->
{% endblock %}

{% block body %}

<div>
	{{ number }} Page number: {{ page.number }}
</div>
<div>
	Album: {{ page.album.name }}
</div>

<div id="pageContainer">

<a href="#" class="arrow left"></a>

<article class="page" style="height: 400px; width: 600px;">
	{% if page.positions %}
		{% for position in page.positions.all %}
		    {% if position.image %}
		    <div>
		    	<img src="{{ position.image.url }}" style="
		    		position:absolute; 
					left: {{ position.x }}px; 
					top: {{ position.y }}px;
					height: {{ position.h }}px;
					width: {{ position.w }}px;"/>
		    </div>
		    {% endif %}	
		    {% if position.caption %}
		    <div>
		    	<div style="position:absolute; 
					left: {{ position.x }}px; 
					top: {{ position.y }}px;">
	    				{{ position.caption.content }}
	    		</div>
		    </div>
		    {% endif %}		    
		{% endfor %}		    
	{% else %}
	    No images or captions added.
	{% endif %}
	
</article>

<a href="#" class="arrow right"></a>

</div>

<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

{% endblock %}
