{% extends 'base.html' %}

{% block header %}
<!-- Header -->
{% endblock %}

{% block nav_user %}<li id="menuUser" class="active"><a href="{% url photobook:user_list_view %}">Users</a></li>{% endblock %}
 
{% block body %}

<div class="page-header">
<h1>Users</h1>
</div>

<ul class="thumbnails">
{% for user in user_list %}
<li class="span2">
<a href="{{ user.get_absolute_url }}" class="thumbnail"> 
<img src="http://placehold.it/160x160" alt="">
<div class="details">
  <h5>{{ user.username }}</h5> 
</div>
</a>       
</li>
{% empty %}
    <li>No users registered</li>
{% endfor %}
</ul>

{% endblock %}
