{% extends 'base.html' %}

{% block header %}
<!-- Header -->
{% endblock %}


{% block nav_youralbums %}<li id="menuUser" {% if is_owner %}class="active"{% endif %}><a href="{% url photobook:user_detail_view user.username %}">Your albums</a></li>{% endblock %}
{% block nav_user %}<li id="menuUser" {% if not is_owner %}class="active"{% endif %}><a href="{% url photobook:user_list_view %}">Users</a></li>{% endblock %}

{% block body %}

<div class="page-header">
{% if is_owner %}
	<a href="{% url photobook:create_album_view %}" class="btn btn-primary pull-right">New album</a>
	<h1>Your albums</h1>
{% else %}
	<h1>{{page_owner.username}}'s albums</h1>
{% endif %}
</div>


<ul class="thumbnails">
{% for album in album_list %}
<li class="span3">
<a href="{{ album.get_absolute_url }}" class="thumbnail"> 
<img src="http://placehold.it/260x180" alt="">
<div class="caption">
  <h5>{{ album.name }}</h5>{{album.pub_date}} 
</div>
</a>       
</li>
          
{% empty %}
    No albums published.
{% endfor %}

{% endblock %}

</ul>
