<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>PhotoBook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="description" content="">
    <meta name="author" content="">
 
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" />

{% block header %}
{% endblock %}

</head>
<body>
	

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          	<a class="brand" href="{% url photobook:index %}">PhotoBook</a>
			<ul class="nav">
			{% block nav %}
				{% block nav_index %}<li id="menuIndex"><a href="{% url photobook:index %}">Home</a></li>{% endblock %} 
				{% if user.username %} 
					{% block nav_youralbums %}<li id="menuUser"><a href="{% url photobook:user_detail_view user.username %}">Your albums</a></li>{% endblock %}
				{% endif %}
				{% block nav_list %}<li id="menuList"><a href="{% url photobook:album_list_view %}">All albums</a></li>{% endblock %}
				{% block nav_user %}<li id="menuUser"><a href="{% url photobook:user_list_view %}">Users</a></li>{% endblock %}
				{% block nav_search %}<li id="menuSearch"><a href="{% url photobook:search %}">Flickr Search</a></li>{% endblock %}
			{% endblock %}
			</ul>
			
			
			
			{% if user.username %}
			<ul class="nav pull-right">
			<li id="menuLogout"><a href="{% url photobook:logout %}">Logout</a></li>
			</ul>
			<p class="navbar-text pull-right">Logged in as <a href="#">{{user.username}}</a></p>
			{% else %}
			<ul class="nav pull-right">
			<li id="menuRegister"><a href="{% url photobook:register %}">Register</a></li>
			<li id="menuLogin"><a href="{% url photobook:login %}">Login</a></li>
			</ul>
			{% endif %}
		</div>
      </div>
    </div>

    <div class="container">
			{% block body %}
			{% endblock %}
	</div>
	
	<!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap.js"></script>-->
</body>
</html>

