<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>

    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" media="screen" />

{% block header %}
{% endblock %}

<title>PhotoBook</title>
</head>
<body>
	<header>
		<a id="serviceTitle" href="{% url photobook:index %}">PhotoBook</a>
		<ul id="serviceNav">
			{% block nav %}
				{% block nav_index %}<li id="menuIndex"><a href="{% url photobook:index %}">Home</a></li>{% endblock %} 
                {% block nav_create %}<li id="menuCreate"><a href="{% url photobook:create_album_view %}">Create Album</a></li>{% endblock %}
				{% block nav_list %}<li id="menuList"><a href="{% url photobook:album_list_view %}">List albums</a></li>{% endblock %}
				{% block nav_user %}<li id="menuUser"><a href="{% url photobook:user_list_view %}">Users</a></li>{% endblock %}
				{% block nav_logout %}<li id="menuLogout"><a href="{% url photobook:logout %}">Logout</a></li>{% endblock %}
				{% block nav_register %}<li id="menuRegister"><a href="{% url photobook:register %}">Register</a></li>{% endblock %}
                {% block nav_search %}<li id="menuSearch"><a href="{% url photobook:search %}">Search pictures through Flickr</a></li>{% endblock %}
			{% endblock %}
		</ul>
	</header>
	<section id="content">
		<!--<div class="content-box">-->
			{% block body %}
			{% endblock %}
		<!--</div>-->
	</section>
</body>
</html>

